<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly"
          package="com.fourbeams.marsweather">
    <uses-permission
            android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.fourbeams.marsweather.presentation.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:name="com.fourbeams.marsweather.persistence.MarsWeatherContentProvider"
                  android:authorities="com.fourbeams.marsweather.persistence.MarsWeatherContentProvider">
        </provider>

        <receiver
                android:name=".domain.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
                <action android:name="com.fourbeams.marsweather.intent.action.UPDATE_TEMPERATURE_BUTTON_PRESSED"></action>
                <action android:name="com.fourbeams.marsweather.intent.action.DATA_CHANGED_IN_PROVIDER"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/mywidget_info"></meta-data>
        </receiver>

        <service
                android:name="com.fourbeams.marsweather.domain.GetService"
                android:enabled="true"
                android:exported="true">
        </service>
    </application>

</manifest>